## gitignore / C++.gitignore

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

## gitignore / Autotools.gitignore

# http://www.gnu.org/software/automake
Makefile.in

# http://www.gnu.org/software/autoconf
autom4te.cache
aclocal.m4
compile
configure
depcomp
install-sh
missing

## Libtool, makefile and so on.
libtool
ltmain.sh
stamp-h1
.deps
.libs
Makefile
config.*

# Ignore emacs backup files
*~

# Qt temp stuff
moc_*.cpp
ui_*.h

## Explicit programs to ignore
qtnx
